<div ng-controller="DemoCtrl" layout="column" ng-cloak class="md-inline-form">
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
  </md-content>
  <md-content layout-padding>
    <div>
      <md-input-container>
        <label>Title</label>
        <input ng-model="name" autofocus placeholder="Enter your name">
      </md-input-container>
    </div>
  </md-content>
</div>
