<div ng-controller="HomeController" layout="column" ng-cloak class="md-inline-form">
  <div flex>
  <md-toolbar md-theme="docs-dark" layout="row" layout-padding>
    <h1>GUOCCI <span ng-if="site_data.name">@ {{site_data.name}} <span ng-if="site_data.country">({{site_data.country}})</span></span></h1>
  </md-toolbar>
  </div>
  <div layout="row" flex>
    <md-content layout="column" layout-padding>
      <h2>Site</h2>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Site</label>
        <md-select ng-model="selected_site" autofocus>
          <md-option ng-repeat="site in sites track by site.id" value="{{site.id}}" required>
            {{site.name}}
          </md-option>
        </md-select>
      </md-input-container>
      <div ng-if="site_data">
        <h2>Appliance</h2>
        <md-input-container flex-gt-sm>
          <label>Name</label>
          <div layout="row" flex>
            <div flex>
              <input ng-model="name" placeholder="Enter a name" required>
            </div>
            <div>
              <md-button class="md-icon-button" aria-label="Refresh" ng-click="generate_name()">
                <ng-md-icon icon="cached" style="fill: #3F51B5" size="25"></ng-md-icon>
              </md-button>
            </div>
          </div>
        </md-input-container>
        <md-input-container flex-gt-sm>
          <label>SSH Key</label>
          <div flex>
            <input ng-model="sshkey" placeholder="Enter a key" required>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Appliance</label>
          <md-select ng-model="selected_appliance" autofocus>
            <md-option ng-repeat="appliance in site_data.appliances track by appliance.id" value="{{appliance.id}}" required>
              {{appliance.name}} (<strong>{{appliance.vo}}</strong>)
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Size</label>
          <md-select ng-model="selected_size" autofocus>
            <md-option ng-repeat="size in site_data.sizes track by size.id" value="{{size.id}}" required>
              {{size.name}} ({{size.memory}} MB RAM / {{size.vcpu}} vCPU Cores)
            </md-option>
          </md-select>
        </md-input-container>
        <div ng-if="selected_appliance && selected_size && sshkey && name">
          <md-input-container flex-gt-sm>
            <md-button class="md-raised md-primary" ng-click="create_instance(name, site_data.id, site_data.endpoint, selected_appliance, selected_size, sshkey);refresh_instances(site_data);generate_name()">Create</md-button>
          </md-input-container>
        </div>
      </div>
    </md-content>
    <md-content layout="column" layout-padding>
      <div ng-if="instances">
        <div layout="row">
          <h2>Instances</h2>
          <div>
            <md-button class="md-icon-button" aria-label="Refresh" ng-click="refresh_instances(site_data)">
              <ng-md-icon icon="cached" style="fill: #3F51B5" size="25"></ng-md-icon>
            </md-button>
          </div>
        </div>
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="instance in instances">
            <ng-md-icon icon="computer" style="fill: #3F51B5" class="md-avatar" alt="{{instance.name}}" size="50"></ng-md-icon>
            <div class="md-list-item-text" layout="row">
              <div layout="column" flex>
                <div flex>Name:    "{{ instance.name }}"</div>
                <!-- <div flex>ID:      {{site_data.endpoint + instance.id}}</div> -->
                <div flex>State:   {{instance.state}}</div>
                <div flex>Address: {{instance.ip}}</div>
              </div>
              <div ng-if="instance.state == 'active'">
                <md-input-container>
                  <md-button class="md-raised md-primary" ng-click="delete_instance(instance.id, site_data.id, site_data.endpoint);refresh_instances(site_data)">Delete</md-button>
                </md-input-container>
              </div>
            </div>
          </md-list-item>
        </md-list>
      </div>
    </md-content>
  </div>
</div>
